h1 Hotels near by
h3 Get properties
form(action='/api/properties', method='get')
    | latitude and longitude(eg: 37.7942,-122.4070):
    input(type='text', name='at')
    input(type='submit', value='submit')
div --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
